[Unit]
Description=openhab-metadata web UI container

[Container]
Image=ghcr.io/georg138/openhab-metadata:latest
ContainerName=openhab-metadata
PublishPort=5180:5180
Environment=OPENHAB_URL=http://openhab:8080
Environment=OPENHAB_TOKEN=
AutoUpdate=registry
PullPolicy=newer
Label=traefik.enable=true
Label=traefik.http.routers.openhab-metadata.rule=Host(`openhab-metadata.georgsiebke.de`)
Label=traefik.http.services.openhab-metadata.loadbalancer.server.port=5180

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target default.target
